# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.py[cod]

# Datasets
License Plate Recognition.v1-raw-images.coco/
dataset_yolo/
sample_data/
*.zip

# Training Logs & Runs
runs/
*.csv

# Media & Demos (Large files)
*.mp4
*.jpg
*.jpeg
*.png
!weights/best.pt

# Project Internal Notes
context.txt
words.txt
MEMORY.md
GEMINI.md
